<div class="menu-wrap">
  <div class="container">
    <div class="row">
      <div class="col-xs-8">
        <div class="menu-1">
          <ul>
            <li class="active"><a href="index.html">Home</a></li>
            <li class="has-dropdown">
              <a href="doctors.html">Doctors</a>
              <ul class="dropdown">
                <li><a href="doctors-single.html">Single Doctor</a></li>
              </ul>
            </li>
            <li><a href="services.html">Services</a></li>
            <li class="has-dropdown">
              <a href="departments.html">Departments</a>
              <ul class="dropdown">
                <li><a href="departments-single.html">Plasetic Surgery Department</a></li>
                <li><a href="departments-single.html">Dental Department</a></li>
                <li><a href="departments-single.html">Psychological Department</a></li>
              </ul>
            </li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>